@model IEnumerable<ProyectoClase.Models.Entidades.Autor>
@{
    ViewData["Title"] = "ListadoAutores";

}


@if (TempData["ALertMessage"] != null)
{
    <div class=" alert alert-success">
        <strong> Ok!!---</strong>@TempData["AlertMessage"]
    </div>
}

<p>
    <a onclick="showInPopup('@Url.Action("Crear", "Autores",
    new { id = 0 }, Context.Request.Scheme)' ,
    '')" class="btn btn-sm btn-primary text-white">
        <i class="fa fa-plus-circle"></i> Agregar un autor
    </a>
</p>

<div class="col-md-12">
    <div class="card">
        <div class=" card-header text-center">
            <h5>Lista de Autores</h5>
        </div>
        <div class=" card-body">
            <table id="autor" class="table table-hover table responsive table stripped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha de Nacimiento</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.IdAutor</th>
                            <td> @Html.DisplayFor(modelItem => item.Nombre)</td>
                            <td> @Html.DisplayFor(modelItem => item.Apellido)</td>
                            <td> @item.FechaNacimiento.ToString("dd-MM-yyyy") </td>
                            <td>
                                <a onclick="showInPopup('@Url.Action("Editar", "Autores",
                                new { id = item.IdAutor }, Context.Request.Scheme)' ,
                                  'Actualizar Autor')" class="btn btn-outline-warning btn-sm">
                                    <i class="fa fa-pencil-alt"></i>
                                </a>
                                <button data-id="@item.IdAutor"
                                        class="btn btn-outline-danger btn-sm deleteItem"
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteDialog">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_MostrarModal" />
<partial name="_ModalEliminar" />


@section Scripts {

    <script src="~/js/showmodal.js"></script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#autor').DataTable(
                {
                    "language": {
                        url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                    },
                });
        });
    </script>

    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Autores/Eliminar/', false);
    </script>
}

